* {
  box-sizing: border-box;
}

body {
  margin: 12;
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4;
  color: #100f0f;
}

.encabezado {
  background-color: rgba(255, 255, 255, 0.621);
  padding: 24px;
  border-bottom: 14px solid #222;
}
.encabezado h1 {
  margin: 0 0 12px 0;
}