html {
    height: 100%;
    width: 100%;
  }
  
/* Body */
.bloque {
  background-color: rgb(233, 13, 13);
  width: 85%;
  margin: 24px auto;
  padding: 20px;
  border: 2px solid #df6767;
}

.bloque {
  color: aliceblue;
}