html {
    height: 100%;
    width: 100%;
  }
body{
  background-color: rgb(217, 255, 0);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
  background-color: #29c702;
}


#logo{
  width: 100px;
}

.opc a {
  text-decoration: none;
  color: white;
  background-color: #0289c7; /* Color de fondo del "botón" */
  padding: 10px 50px;        /* Espaciado interno para darle volumen */
  font-weight: bold;
}

.opc{
    margin: auto;
}