html {
    height: 100%;
    width: 100%;
  }


.navbar{
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
  background-color: #db4646;
  position: fixed;
  width: 100%;
}


#logo{
  width: 100px;
}

.opc a {
  text-decoration: none;
  color: rgb(252, 248, 248);
  background-color: #51b8af; /* Color de fondo del "botón" */
  padding: 10px 50px;        /* Espaciado interno para darle volumen */
  font-weight: bold;
}

.opc{
    margin: auto;
}
